# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.pyc
*.so
*.egg
*.egg-info
dist
build
__pycache__

# django:
migrations

# My configurations:
baksql
expand.dat
myfn/h10_try_command_file.txt